2.Text Preprocessing

In [ ]:
# text = "the cat jumped from the first floor"

In [1]:
import re
def remove_html_tags(text){
    patern = re.compile('<.*?>')
    return pattern.sub(r'', text)
}

1. re.match

In [6]:
result = re.match('The',r'The  cat jumped from the first floor')
print(result)

<re.Match object; span=(0, 3), match='The'>

In [7]:
print(result.group())

The

2 re.serach

In [9]:
result = re.search('first',r'The  cat jumped from the first floor')
print(result)
print(result.group())

<re.Match object; span=(25, 30), match='first'>
first

3 re.findall()
will return the all occurence from the string

In [12]:
result = re.findall('first',r'The  cat first jumped from the first floor')
print(result)

['first', 'first']

Some Patterns

1. /b --> will return the string before that

In [15]:
import re
str = r'cat jumped from the first floor'
result = re.search(r'jumped\b',str)
print(result)

<re.Match object; span=(4, 10), match='jumped'>

2. /d

In [22]:
str = "Todays date is 6 aug 2025"
result = re.findall("\d",str)
print(result)

if(result):
  print("Search successful")
else:
  print("Search unsuccessful")

['6', '2', '0', '2', '5']
Search successful

In [23]:
str = "Todays date is 6 aug 2025"
result = re.findall("\d+",str)
print(result)

if(result):
  print("Search successful")
else:
  print("Search unsuccessful")

['6', '2025']
Search successful

3. /D

In [21]:
str = "Todays date is 6 aug 2025"
result = re.findall("\D",str)
print(result)

if(result):
  print("Search successful")
else:
  print("Search unsuccessful")

['T', 'o', 'd', 'a', 'y', 's', ' ', 'd', 'a', 't', 'e', ' ', 'i', 's', ' ', ' ', 'a', 'u', 'g', ' ']
Search successful

In [24]:
str = "Todays date is 6 aug 2025"
result = re.findall("\D+",str)
print(result)

if(result):
  print("Search successful")
else:
  print("Search unsuccessful")

['Todays date is ', ' aug ']
Search successful

4. /w and /W

In [25]:
str = "Todays date is 6 aug 2025"
result = re.findall("\w+",str)
print(result)

if(result):
  print("Search successful")
else:
  print("Search unsuccessful")

['Todays', 'date', 'is', '6', 'aug', '2025']
Search successful

In [26]:
str = "Todays date is 6 aug 2025"
result = re.findall("\W",str)
print(result)

if(result):
  print("Search successful")
else:
  print("Search unsuccessful")

[' ', ' ', ' ', ' ', ' ']
Search successful

Meta Characters --> characters with special meaning

1 ()matches any char (except newline char)

In [28]:
str = r'the cat jumped from the window '
x=re.findall("ju.",str)
x2=re.findall("ju..",str)
print(x)
print(x2)

['jum']
['jump']

2 (^) starts with --> check whether the string starts with the given pattern or not

In [29]:
x = re.findall("^the",str)
if(x):
  print("yes")
else:
  print("no match")

yes

3 ($)  with ends--> check whether the string ends with the given pattern or not

In [36]:
str = r'the cat jumped from the window'
x = re.findall("ow$",str)
if(x):
  print("yes")
else:
  print("no match")

yes

4(*) matches for zero or more occurrence of the pattern to the left of it

In [39]:
str1 = " easy eassssssy eay ey"

x = re.findall("eas*y",str1)
print(x)
if(x):
  print("yes")
else:
  print("no match")

['easy', 'eassssssy', 'eay']
yes

5 (+) matches one or more occurence of the pattern to the left of it

In [40]:

x = re.findall("eas+y",str1)
print(x)
if(x):
  print("yes")
else:
  print("no match")

['easy', 'eassssssy']
yes

6 (?) matches zero or more occurence of the pattern to the left of it

In [41]:
str1 = " easy eassssssy eay ey"

x = re.findall("eas?y",str1)
print(x)
if(x):
  print("yes")
else:
  print("no match")

['easy', 'eay']
yes

7. (|) either or

In [42]:
str1 = " easy eassssssy eay ey"

x = re.findall("eas|y",str1)
print(x)
if(x):
  print("yes")
else:
  print("no match")

['eas', 'y', 'eas', 'y', 'y', 'y']
yes